*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(to right, #bac1c5, #cbd1d4);
    color: #f4f4f4;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.bin2Dec{
  background: linear-gradient(to right, #209ef1, #0e4a72); 
  border-radius: 2rem;
  box-shadow: 0px 4px 3rem #535151;
}

.main-text{
    padding: 3rem 2rem;
}

.main-text__primary-text{
    font-size: 3rem;
    font-family: Ubuntu;
}

.mainitext__sub-text{
    font-size: 1.4rem;
    font-family: 'Roboto';
}

.section-2{
   background-color: #f4f4f4;
    border-radius: 3rem 3rem 0 0;
    padding: 3rem 1rem;
    color: #0e4a72;
}

.outputField{
    background: linear-gradient(to left, #e9ecee, #fcfcff);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
    color: #067fcf;
    font-size: 3rem;
    text-align: center;
    font-weight: 900; 
    display: none;
}

.output-Text{
    font-size: 2.2rem;
}

.inputField{
    background: linear-gradient(to left, #d0e0e0, #edf1f1);
    border-radius: 1rem;
    padding: 4rem 1rem;
    flex-direction: column;
    display:flex;
    flex-direction: column;
}

.inputField__binaryField{
    font-size: 2.1rem;
    font-weight: 700;
    padding-bottom: 2rem;
    font-family: 'Ubuntu';
    text-align: center;
}

.inputField__getBinary{
    padding: 1.7rem 2rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 3rem;
}

.inputField__getBinary:focus{
    outline: none;
}

.inputField__submitBinary{
    background: linear-gradient(to right, #209ef1, #0e4a72);
    color: #f4f4f4;
    font-weight: 700;
    font-size: 2rem;
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
}

.inputField__submitBinary:focus{
    outline: none;
}

footer{
    font-size: 1.6rem;
    color: #c00b05;
}

footer a{
    color:#c00b05;
    cursor: pointer;
}

@media(max-width: 400px){
    .bin2Dec{
        width: 25rem;
      }  

    .main-text__primary-text{
        font-size: 2rem;
    }
    
    .mainitext__sub-text{
        font-size: 1.2;
        font-style: italic;
    }

.outputField{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}


    .output-Text{
        font-size: 1.6rem;
    }

    .inputField__binaryField{
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }

    .section-2{
         padding: 1.5rem 1rem;
     }
    
}

@media(max-width: 265px){
    .bin2Dec{
        width: 20rem;
      }  
}